$TTL 86400
@       IN SOA     masterdns.{{lab_name}}.cp.vdc. root.{{lab_name}}.cp.vdc. (
        {{date}}01 ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        30          ;Minimum TTL
)

        IN NS           masterdns.{{lab_name}}.cp.vdc.


;; MGMT         {{lab_name}}.cp.vdc        10.220.{{mgmt_octet}}.0/25
$ORIGIN {{mgmt_octet}}.220.10.in-addr.arpa.
; Hypervisors
1               IN PTR          vdc-{{lab_name}}-vh00.{{lab_name}}.cp.vdc.
2               IN PTR          vdc-{{lab_name}}-vh01.{{lab_name}}.cp.vdc.
3               IN PTR          vdc-{{lab_name}}-vh02.{{lab_name}}.cp.vdc.
4               IN PTR          vdc-{{lab_name}}-vh03.{{lab_name}}.cp.vdc.
5               IN PTR          vdc-{{lab_name}}-vh04.{{lab_name}}.cp.vdc.
6               IN PTR          vdc-{{lab_name}}-vh05.{{lab_name}}.cp.vdc.
7               IN PTR          vdc-{{lab_name}}-vh06.{{lab_name}}.cp.vdc.
8               IN PTR          vdc-{{lab_name}}-vh07.{{lab_name}}.cp.vdc.
9               IN PTR          vdc-{{lab_name}}-vh08.{{lab_name}}.cp.vdc.
10              IN PTR          vdc-{{lab_name}}-vh09.{{lab_name}}.cp.vdc.
11              IN PTR          vdc-{{lab_name}}-vh0a.{{lab_name}}.cp.vdc.
12              IN PTR          vdc-{{lab_name}}-vh0b.{{lab_name}}.cp.vdc.
13              IN PTR          vdc-{{lab_name}}-vh0c.{{lab_name}}.cp.vdc.
14              IN PTR          vdc-{{lab_name}}-vh0d.{{lab_name}}.cp.vdc.
15              IN PTR          vdc-{{lab_name}}-vh0e.{{lab_name}}.cp.vdc.
16              IN PTR          vdc-{{lab_name}}-vh0f.{{lab_name}}.cp.vdc.
17              IN PTR          vdc-{{lab_name}}-vh10.{{lab_name}}.cp.vdc.
18              IN PTR          vdc-{{lab_name}}-vh11.{{lab_name}}.cp.vdc.
19              IN PTR          vdc-{{lab_name}}-vh12.{{lab_name}}.cp.vdc.
20              IN PTR          vdc-{{lab_name}}-vh13.{{lab_name}}.cp.vdc.
21              IN PTR          vdc-{{lab_name}}-vh14.{{lab_name}}.cp.vdc.
22              IN PTR          vdc-{{lab_name}}-vh15.{{lab_name}}.cp.vdc.
23              IN PTR          vdc-{{lab_name}}-vh16.{{lab_name}}.cp.vdc.
24              IN PTR          vdc-{{lab_name}}-vh17.{{lab_name}}.cp.vdc.
25              IN PTR          vdc-{{lab_name}}-vh18.{{lab_name}}.cp.vdc.
26              IN PTR          vdc-{{lab_name}}-vh19.{{lab_name}}.cp.vdc.
27              IN PTR          vdc-{{lab_name}}-vh1a.{{lab_name}}.cp.vdc.
28              IN PTR          vdc-{{lab_name}}-vh1b.{{lab_name}}.cp.vdc.
29              IN PTR          vdc-{{lab_name}}-vh1c.{{lab_name}}.cp.vdc.
30              IN PTR          vdc-{{lab_name}}-vh1d.{{lab_name}}.cp.vdc.
31              IN PTR          vdc-{{lab_name}}-vh1e.{{lab_name}}.cp.vdc.
32              IN PTR          vdc-{{lab_name}}-vh1f.{{lab_name}}.cp.vdc.
33              IN PTR          vdc-{{lab_name}}-vh20.{{lab_name}}.cp.vdc.
34              IN PTR          vdc-{{lab_name}}-vh21.{{lab_name}}.cp.vdc.
35              IN PTR          vdc-{{lab_name}}-vh22.{{lab_name}}.cp.vdc.
36              IN PTR          vdc-{{lab_name}}-vh23.{{lab_name}}.cp.vdc.
37              IN PTR          vdc-{{lab_name}}-vh24.{{lab_name}}.cp.vdc.
38              IN PTR          vdc-{{lab_name}}-vh25.{{lab_name}}.cp.vdc.
39              IN PTR          vdc-{{lab_name}}-vh26.{{lab_name}}.cp.vdc.
40              IN PTR          vdc-{{lab_name}}-vh27.{{lab_name}}.cp.vdc.
41              IN PTR          vdc-{{lab_name}}-vh28.{{lab_name}}.cp.vdc.
42              IN PTR          vdc-{{lab_name}}-vh29.{{lab_name}}.cp.vdc.
43              IN PTR          vdc-{{lab_name}}-vh2a.{{lab_name}}.cp.vdc.
44              IN PTR          vdc-{{lab_name}}-vh2b.{{lab_name}}.cp.vdc.
45              IN PTR          vdc-{{lab_name}}-vh2c.{{lab_name}}.cp.vdc.
46              IN PTR          vdc-{{lab_name}}-vh2d.{{lab_name}}.cp.vdc.
47              IN PTR          vdc-{{lab_name}}-vh2e.{{lab_name}}.cp.vdc.
48              IN PTR          vdc-{{lab_name}}-vh2f.{{lab_name}}.cp.vdc.
49              IN PTR          vdc-{{lab_name}}-vh30.{{lab_name}}.cp.vdc.
50              IN PTR          vdc-{{lab_name}}-vh31.{{lab_name}}.cp.vdc.
51              IN PTR          vdc-{{lab_name}}-vh32.{{lab_name}}.cp.vdc.
52              IN PTR          vdc-{{lab_name}}-vh33.{{lab_name}}.cp.vdc.
53              IN PTR          vdc-{{lab_name}}-vh34.{{lab_name}}.cp.vdc.
54              IN PTR          vdc-{{lab_name}}-vh35.{{lab_name}}.cp.vdc.
55              IN PTR          vdc-{{lab_name}}-vh36.{{lab_name}}.cp.vdc.
56              IN PTR          vdc-{{lab_name}}-vh37.{{lab_name}}.cp.vdc.
57              IN PTR          vdc-{{lab_name}}-vh38.{{lab_name}}.cp.vdc.
58              IN PTR          vdc-{{lab_name}}-vh39.{{lab_name}}.cp.vdc.
59              IN PTR          vdc-{{lab_name}}-vh3a.{{lab_name}}.cp.vdc.
60              IN PTR          vdc-{{lab_name}}-vh3b.{{lab_name}}.cp.vdc.
61              IN PTR          vdc-{{lab_name}}-vh3c.{{lab_name}}.cp.vdc.
62              IN PTR          vdc-{{lab_name}}-vh3d.{{lab_name}}.cp.vdc.
63              IN PTR          vdc-{{lab_name}}-vh3e.{{lab_name}}.cp.vdc.
64              IN PTR          vdc-{{lab_name}}-vh3f.{{lab_name}}.cp.vdc.
65              IN PTR          vdc-{{lab_name}}-vh40.{{lab_name}}.cp.vdc.
66              IN PTR          vdc-{{lab_name}}-vh41.{{lab_name}}.cp.vdc.
67              IN PTR          vdc-{{lab_name}}-vh42.{{lab_name}}.cp.vdc.
68              IN PTR          vdc-{{lab_name}}-vh43.{{lab_name}}.cp.vdc.
69              IN PTR          vdc-{{lab_name}}-vh44.{{lab_name}}.cp.vdc.
70              IN PTR          vdc-{{lab_name}}-vh45.{{lab_name}}.cp.vdc.
71              IN PTR          vdc-{{lab_name}}-vh46.{{lab_name}}.cp.vdc.
72              IN PTR          vdc-{{lab_name}}-vh47.{{lab_name}}.cp.vdc.
73              IN PTR          vdc-{{lab_name}}-vh48.{{lab_name}}.cp.vdc.
74              IN PTR          vdc-{{lab_name}}-vh49.{{lab_name}}.cp.vdc.
75              IN PTR          vdc-{{lab_name}}-vh4a.{{lab_name}}.cp.vdc.
76              IN PTR          vdc-{{lab_name}}-vh4b.{{lab_name}}.cp.vdc.
77              IN PTR          vdc-{{lab_name}}-vh4c.{{lab_name}}.cp.vdc.
78              IN PTR          vdc-{{lab_name}}-vh4d.{{lab_name}}.cp.vdc.
79              IN PTR          vdc-{{lab_name}}-vh4e.{{lab_name}}.cp.vdc.
80              IN PTR          vdc-{{lab_name}}-vh4f.{{lab_name}}.cp.vdc.
81              IN PTR          vdc-{{lab_name}}-vh50.{{lab_name}}.cp.vdc.
82              IN PTR          vdc-{{lab_name}}-vh51.{{lab_name}}.cp.vdc.
83              IN PTR          vdc-{{lab_name}}-vh52.{{lab_name}}.cp.vdc.
84              IN PTR          vdc-{{lab_name}}-vh53.{{lab_name}}.cp.vdc.
85              IN PTR          vdc-{{lab_name}}-vh54.{{lab_name}}.cp.vdc.
86              IN PTR          vdc-{{lab_name}}-vh55.{{lab_name}}.cp.vdc.
87              IN PTR          vdc-{{lab_name}}-vh56.{{lab_name}}.cp.vdc.
88              IN PTR          vdc-{{lab_name}}-vh57.{{lab_name}}.cp.vdc.
89              IN PTR          vdc-{{lab_name}}-vh58.{{lab_name}}.cp.vdc.
90              IN PTR          vdc-{{lab_name}}-vh59.{{lab_name}}.cp.vdc.
91              IN PTR          vdc-{{lab_name}}-vh5a.{{lab_name}}.cp.vdc.
92              IN PTR          vdc-{{lab_name}}-vh5b.{{lab_name}}.cp.vdc.
93              IN PTR          vdc-{{lab_name}}-vh5c.{{lab_name}}.cp.vdc.
94              IN PTR          vdc-{{lab_name}}-vh5d.{{lab_name}}.cp.vdc.
95              IN PTR          vdc-{{lab_name}}-vh5e.{{lab_name}}.cp.vdc.
96              IN PTR          vdc-{{lab_name}}-vh5f.{{lab_name}}.cp.vdc.

; Management VMs and Storage
123             IN PTR          vdc-{{lab_name}}-zlb-vip.{{lab_name}}.cp.vdc.
122             IN PTR          vdc-{{lab_name}}-zlb2.{{lab_name}}.cp.vdc.
121             IN PTR          vdc-{{lab_name}}-zlb1.{{lab_name}}.cp.vdc.
120             IN PTR          vdc-{{lab_name}}-sa02.{{lab_name}}.cp.vdc.
119             IN PTR          vdc-{{lab_name}}-sa01.{{lab_name}}.cp.vdc.
118             IN PTR          vdc-{{lab_name}}-sam1.{{lab_name}}.cp.vdc.
117             IN PTR          vdc-{{lab_name}}-ad1.{{lab_name}}.cp.vdc.
;116             IN PTR          vdc-ll18-cpvsp1.{{lab_name}}.cp.vdc.
116             IN PTR          vdc-{{lab_name}}-cpvsp1.{{lab_name}}.cp.vdc.
115             IN PTR          vdc-{{lab_name}}-gate1.{{lab_name}}.cp.vdc.
114             IN PTR          vdc-{{lab_name}}-cpdb2.{{lab_name}}.cp.vdc.
113             IN PTR          vdc-{{lab_name}}-cpdb1.{{lab_name}}.cp.vdc.
112             IN PTR          vdc-{{lab_name}}-cpman2.{{lab_name}}.cp.vdc.
111             IN PTR          vdc-{{lab_name}}-cpman1.{{lab_name}}.cp.vdc.
110             IN PTR          vdc-{{lab_name}}-log1.{{lab_name}}.cp.vdc.
109             IN PTR          vdc-{{lab_name}}-dply1.{{lab_name}}.cp.vdc.
108             IN PTR          vdc-{{lab_name}}-dns2.{{lab_name}}.cp.vdc.
107             IN PTR          vdc-{{lab_name}}-dns1.{{lab_name}}.cp.vdc.
;106             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.
105             IN PTR          vdc-{{lab_name}}-vmvc1.{{lab_name}}.cp.vdc.
;104             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.
;103             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.
;102             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.
;101             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.
;100             IN PTR          vdc-{{lab_name}}-.{{lab_name}}.cp.vdc.



;; NFS          nfs.{{lab_name}}.cp.vdc    10.220.138.128/25
$ORIGIN 138.220.10.in-addr.arpa.
129             IN PTR          vdc-{{lab_name}}-vh00.nfs.{{lab_name}}.cp.vdc.
130             IN PTR          vdc-{{lab_name}}-vh01.nfs.{{lab_name}}.cp.vdc.
131             IN PTR          vdc-{{lab_name}}-vh02.nfs.{{lab_name}}.cp.vdc.
132             IN PTR          vdc-{{lab_name}}-vh03.nfs.{{lab_name}}.cp.vdc.
133             IN PTR          vdc-{{lab_name}}-vh04.nfs.{{lab_name}}.cp.vdc.
134             IN PTR          vdc-{{lab_name}}-vh05.nfs.{{lab_name}}.cp.vdc.
135             IN PTR          vdc-{{lab_name}}-vh06.nfs.{{lab_name}}.cp.vdc.
136             IN PTR          vdc-{{lab_name}}-vh07.nfs.{{lab_name}}.cp.vdc.
137             IN PTR          vdc-{{lab_name}}-vh08.nfs.{{lab_name}}.cp.vdc.
138             IN PTR          vdc-{{lab_name}}-vh09.nfs.{{lab_name}}.cp.vdc.
139             IN PTR          vdc-{{lab_name}}-vh0a.nfs.{{lab_name}}.cp.vdc.
140             IN PTR          vdc-{{lab_name}}-vh0b.nfs.{{lab_name}}.cp.vdc.
141             IN PTR          vdc-{{lab_name}}-vh0c.nfs.{{lab_name}}.cp.vdc.
142             IN PTR          vdc-{{lab_name}}-vh0d.nfs.{{lab_name}}.cp.vdc.
143             IN PTR          vdc-{{lab_name}}-vh0e.nfs.{{lab_name}}.cp.vdc.
144             IN PTR          vdc-{{lab_name}}-vh0f.nfs.{{lab_name}}.cp.vdc.
145             IN PTR          vdc-{{lab_name}}-vh10.nfs.{{lab_name}}.cp.vdc.
146             IN PTR          vdc-{{lab_name}}-vh11.nfs.{{lab_name}}.cp.vdc.
147             IN PTR          vdc-{{lab_name}}-vh12.nfs.{{lab_name}}.cp.vdc.
148             IN PTR          vdc-{{lab_name}}-vh13.nfs.{{lab_name}}.cp.vdc.
149             IN PTR          vdc-{{lab_name}}-vh14.nfs.{{lab_name}}.cp.vdc.
150             IN PTR          vdc-{{lab_name}}-vh15.nfs.{{lab_name}}.cp.vdc.
151             IN PTR          vdc-{{lab_name}}-vh16.nfs.{{lab_name}}.cp.vdc.
152             IN PTR          vdc-{{lab_name}}-vh17.nfs.{{lab_name}}.cp.vdc.
153             IN PTR          vdc-{{lab_name}}-vh18.nfs.{{lab_name}}.cp.vdc.
154             IN PTR          vdc-{{lab_name}}-vh19.nfs.{{lab_name}}.cp.vdc.
155             IN PTR          vdc-{{lab_name}}-vh1a.nfs.{{lab_name}}.cp.vdc.
156             IN PTR          vdc-{{lab_name}}-vh1b.nfs.{{lab_name}}.cp.vdc.
157             IN PTR          vdc-{{lab_name}}-vh1c.nfs.{{lab_name}}.cp.vdc.
158             IN PTR          vdc-{{lab_name}}-vh1d.nfs.{{lab_name}}.cp.vdc.
159             IN PTR          vdc-{{lab_name}}-vh1e.nfs.{{lab_name}}.cp.vdc.
160             IN PTR          vdc-{{lab_name}}-vh1f.nfs.{{lab_name}}.cp.vdc.
161             IN PTR          vdc-{{lab_name}}-vh20.nfs.{{lab_name}}.cp.vdc.
162             IN PTR          vdc-{{lab_name}}-vh21.nfs.{{lab_name}}.cp.vdc.
163             IN PTR          vdc-{{lab_name}}-vh22.nfs.{{lab_name}}.cp.vdc.
164             IN PTR          vdc-{{lab_name}}-vh23.nfs.{{lab_name}}.cp.vdc.
165             IN PTR          vdc-{{lab_name}}-vh24.nfs.{{lab_name}}.cp.vdc.
166             IN PTR          vdc-{{lab_name}}-vh25.nfs.{{lab_name}}.cp.vdc.
167             IN PTR          vdc-{{lab_name}}-vh26.nfs.{{lab_name}}.cp.vdc.
168             IN PTR          vdc-{{lab_name}}-vh27.nfs.{{lab_name}}.cp.vdc.
169             IN PTR          vdc-{{lab_name}}-vh28.nfs.{{lab_name}}.cp.vdc.
170             IN PTR          vdc-{{lab_name}}-vh29.nfs.{{lab_name}}.cp.vdc.
171             IN PTR          vdc-{{lab_name}}-vh2a.nfs.{{lab_name}}.cp.vdc.
172             IN PTR          vdc-{{lab_name}}-vh2b.nfs.{{lab_name}}.cp.vdc.
173             IN PTR          vdc-{{lab_name}}-vh2c.nfs.{{lab_name}}.cp.vdc.
174             IN PTR          vdc-{{lab_name}}-vh2d.nfs.{{lab_name}}.cp.vdc.
175             IN PTR          vdc-{{lab_name}}-vh2e.nfs.{{lab_name}}.cp.vdc.
176             IN PTR          vdc-{{lab_name}}-vh2f.nfs.{{lab_name}}.cp.vdc.
177             IN PTR          vdc-{{lab_name}}-vh30.nfs.{{lab_name}}.cp.vdc.
178             IN PTR          vdc-{{lab_name}}-vh31.nfs.{{lab_name}}.cp.vdc.
179             IN PTR          vdc-{{lab_name}}-vh32.nfs.{{lab_name}}.cp.vdc.
180             IN PTR          vdc-{{lab_name}}-vh33.nfs.{{lab_name}}.cp.vdc.
181             IN PTR          vdc-{{lab_name}}-vh34.nfs.{{lab_name}}.cp.vdc.
182             IN PTR          vdc-{{lab_name}}-vh35.nfs.{{lab_name}}.cp.vdc.
183             IN PTR          vdc-{{lab_name}}-vh36.nfs.{{lab_name}}.cp.vdc.
184             IN PTR          vdc-{{lab_name}}-vh37.nfs.{{lab_name}}.cp.vdc.
185             IN PTR          vdc-{{lab_name}}-vh38.nfs.{{lab_name}}.cp.vdc.
186             IN PTR          vdc-{{lab_name}}-vh39.nfs.{{lab_name}}.cp.vdc.
187             IN PTR          vdc-{{lab_name}}-vh3a.nfs.{{lab_name}}.cp.vdc.
188             IN PTR          vdc-{{lab_name}}-vh3b.nfs.{{lab_name}}.cp.vdc.
189             IN PTR          vdc-{{lab_name}}-vh3c.nfs.{{lab_name}}.cp.vdc.
190             IN PTR          vdc-{{lab_name}}-vh3d.nfs.{{lab_name}}.cp.vdc.
191             IN PTR          vdc-{{lab_name}}-vh3e.nfs.{{lab_name}}.cp.vdc.
192             IN PTR          vdc-{{lab_name}}-vh3f.nfs.{{lab_name}}.cp.vdc.
193             IN PTR          vdc-{{lab_name}}-vh40.nfs.{{lab_name}}.cp.vdc.
194             IN PTR          vdc-{{lab_name}}-vh41.nfs.{{lab_name}}.cp.vdc.
195             IN PTR          vdc-{{lab_name}}-vh42.nfs.{{lab_name}}.cp.vdc.
196             IN PTR          vdc-{{lab_name}}-vh43.nfs.{{lab_name}}.cp.vdc.
197             IN PTR          vdc-{{lab_name}}-vh44.nfs.{{lab_name}}.cp.vdc.
198             IN PTR          vdc-{{lab_name}}-vh45.nfs.{{lab_name}}.cp.vdc.
199             IN PTR          vdc-{{lab_name}}-vh46.nfs.{{lab_name}}.cp.vdc.
200             IN PTR          vdc-{{lab_name}}-vh47.nfs.{{lab_name}}.cp.vdc.
201             IN PTR          vdc-{{lab_name}}-vh48.nfs.{{lab_name}}.cp.vdc.
202             IN PTR          vdc-{{lab_name}}-vh49.nfs.{{lab_name}}.cp.vdc.
203             IN PTR          vdc-{{lab_name}}-vh4a.nfs.{{lab_name}}.cp.vdc.
204             IN PTR          vdc-{{lab_name}}-vh4b.nfs.{{lab_name}}.cp.vdc.
205             IN PTR          vdc-{{lab_name}}-vh4c.nfs.{{lab_name}}.cp.vdc.
206             IN PTR          vdc-{{lab_name}}-vh4d.nfs.{{lab_name}}.cp.vdc.
207             IN PTR          vdc-{{lab_name}}-vh4e.nfs.{{lab_name}}.cp.vdc.
208             IN PTR          vdc-{{lab_name}}-vh4f.nfs.{{lab_name}}.cp.vdc.
209             IN PTR          vdc-{{lab_name}}-vh50.nfs.{{lab_name}}.cp.vdc.
210             IN PTR          vdc-{{lab_name}}-vh51.nfs.{{lab_name}}.cp.vdc.
211             IN PTR          vdc-{{lab_name}}-vh52.nfs.{{lab_name}}.cp.vdc.
212             IN PTR          vdc-{{lab_name}}-vh53.nfs.{{lab_name}}.cp.vdc.
213             IN PTR          vdc-{{lab_name}}-vh54.nfs.{{lab_name}}.cp.vdc.
214             IN PTR          vdc-{{lab_name}}-vh55.nfs.{{lab_name}}.cp.vdc.
215             IN PTR          vdc-{{lab_name}}-vh56.nfs.{{lab_name}}.cp.vdc.
216             IN PTR          vdc-{{lab_name}}-vh57.nfs.{{lab_name}}.cp.vdc.
217             IN PTR          vdc-{{lab_name}}-vh58.nfs.{{lab_name}}.cp.vdc.
218             IN PTR          vdc-{{lab_name}}-vh59.nfs.{{lab_name}}.cp.vdc.
; NFS: 219 left spare, 220-227 for 1st zone's secondary storage VMs, 228-235 for 2nd zone's secondary storage VMs, 236 left spare, from 237 for man servers and storage devices
;219             IN PTR          vdc-{{lab_name}}-vh5a.nfs.{{lab_name}}.cp.vdc.
;220             IN PTR          vdc-{{lab_name}}-vh5b.nfs.{{lab_name}}.cp.vdc.
;221             IN PTR          vdc-{{lab_name}}-vh5c.nfs.{{lab_name}}.cp.vdc.
;222             IN PTR          vdc-{{lab_name}}-vh5d.nfs.{{lab_name}}.cp.vdc.
;223             IN PTR          vdc-{{lab_name}}-vh5e.nfs.{{lab_name}}.cp.vdc.
;224             IN PTR          vdc-{{lab_name}}-vh5f.nfs.{{lab_name}}.cp.vdc.

237             IN PTR          vdc-{{lab_name}}-cpman1.nfs.{{lab_name}}.cp.vdc.
238             IN PTR          vdc-{{lab_name}}-cpman2.nfs.{{lab_name}}.cp.vdc.
241             IN PTR          vdc-{{lab_name}}-sa01.nfs.{{lab_name}}.cp.vdc.
242             IN PTR          vdc-{{lab_name}}-sa02.nfs.{{lab_name}}.cp.vdc.
243             IN PTR          vdc-{{lab_name}}-sa03.nfs.{{lab_name}}.cp.vdc.
244             IN PTR          vdc-{{lab_name}}-sa04.nfs.{{lab_name}}.cp.vdc.
245             IN PTR          vdc-{{lab_name}}-sa05.nfs.{{lab_name}}.cp.vdc.
246             IN PTR          vdc-{{lab_name}}-sa06.nfs.{{lab_name}}.cp.vdc.
247             IN PTR          vdc-{{lab_name}}-sa07.nfs.{{lab_name}}.cp.vdc.
248             IN PTR          vdc-{{lab_name}}-sa08.nfs.{{lab_name}}.cp.vdc.
249             IN PTR          vdc-{{lab_name}}-sa09.nfs.{{lab_name}}.cp.vdc.
250             IN PTR          vdc-{{lab_name}}-sa10.nfs.{{lab_name}}.cp.vdc.
