$TTL 86400
@       IN SOA     masterdns.{{lab_name}}.cp.vdc. root.{{lab_name}}.cp.vdc. (
        {{date}}01 ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        30          ;Minimum TTL
)

        IN NS           masterdns.{{lab_name}}.cp.vdc.


;; KVM          kvm.{{lab_name}}.cp.vdc    10.220.{{kvm_octet}}.0/25
$ORIGIN {{kvm_octet}}.220.10.in-addr.arpa.
1               IN PTR          vdc-{{lab_name}}-vh00.kvm.{{lab_name}}.cp.vdc.
2               IN PTR          vdc-{{lab_name}}-vh01.kvm.{{lab_name}}.cp.vdc.
3               IN PTR          vdc-{{lab_name}}-vh02.kvm.{{lab_name}}.cp.vdc.
4               IN PTR          vdc-{{lab_name}}-vh03.kvm.{{lab_name}}.cp.vdc.
5               IN PTR          vdc-{{lab_name}}-vh04.kvm.{{lab_name}}.cp.vdc.
6               IN PTR          vdc-{{lab_name}}-vh05.kvm.{{lab_name}}.cp.vdc.
7               IN PTR          vdc-{{lab_name}}-vh06.kvm.{{lab_name}}.cp.vdc.
8               IN PTR          vdc-{{lab_name}}-vh07.kvm.{{lab_name}}.cp.vdc.
9               IN PTR          vdc-{{lab_name}}-vh08.kvm.{{lab_name}}.cp.vdc.
10              IN PTR          vdc-{{lab_name}}-vh09.kvm.{{lab_name}}.cp.vdc.
11              IN PTR          vdc-{{lab_name}}-vh0a.kvm.{{lab_name}}.cp.vdc.
12              IN PTR          vdc-{{lab_name}}-vh0b.kvm.{{lab_name}}.cp.vdc.
13              IN PTR          vdc-{{lab_name}}-vh0c.kvm.{{lab_name}}.cp.vdc.
14              IN PTR          vdc-{{lab_name}}-vh0d.kvm.{{lab_name}}.cp.vdc.
15              IN PTR          vdc-{{lab_name}}-vh0e.kvm.{{lab_name}}.cp.vdc.
16              IN PTR          vdc-{{lab_name}}-vh0f.kvm.{{lab_name}}.cp.vdc.
17              IN PTR          vdc-{{lab_name}}-vh10.kvm.{{lab_name}}.cp.vdc.
18              IN PTR          vdc-{{lab_name}}-vh11.kvm.{{lab_name}}.cp.vdc.
19              IN PTR          vdc-{{lab_name}}-vh12.kvm.{{lab_name}}.cp.vdc.
20              IN PTR          vdc-{{lab_name}}-vh13.kvm.{{lab_name}}.cp.vdc.
21              IN PTR          vdc-{{lab_name}}-vh14.kvm.{{lab_name}}.cp.vdc.
22              IN PTR          vdc-{{lab_name}}-vh15.kvm.{{lab_name}}.cp.vdc.
23              IN PTR          vdc-{{lab_name}}-vh16.kvm.{{lab_name}}.cp.vdc.
24              IN PTR          vdc-{{lab_name}}-vh17.kvm.{{lab_name}}.cp.vdc.
25              IN PTR          vdc-{{lab_name}}-vh18.kvm.{{lab_name}}.cp.vdc.
26              IN PTR          vdc-{{lab_name}}-vh19.kvm.{{lab_name}}.cp.vdc.
27              IN PTR          vdc-{{lab_name}}-vh1a.kvm.{{lab_name}}.cp.vdc.
28              IN PTR          vdc-{{lab_name}}-vh1b.kvm.{{lab_name}}.cp.vdc.
29              IN PTR          vdc-{{lab_name}}-vh1c.kvm.{{lab_name}}.cp.vdc.
30              IN PTR          vdc-{{lab_name}}-vh1d.kvm.{{lab_name}}.cp.vdc.
31              IN PTR          vdc-{{lab_name}}-vh1e.kvm.{{lab_name}}.cp.vdc.
32              IN PTR          vdc-{{lab_name}}-vh1f.kvm.{{lab_name}}.cp.vdc.
33              IN PTR          vdc-{{lab_name}}-vh20.kvm.{{lab_name}}.cp.vdc.
34              IN PTR          vdc-{{lab_name}}-vh21.kvm.{{lab_name}}.cp.vdc.
35              IN PTR          vdc-{{lab_name}}-vh22.kvm.{{lab_name}}.cp.vdc.
36              IN PTR          vdc-{{lab_name}}-vh23.kvm.{{lab_name}}.cp.vdc.
37              IN PTR          vdc-{{lab_name}}-vh24.kvm.{{lab_name}}.cp.vdc.
38              IN PTR          vdc-{{lab_name}}-vh25.kvm.{{lab_name}}.cp.vdc.
39              IN PTR          vdc-{{lab_name}}-vh26.kvm.{{lab_name}}.cp.vdc.
40              IN PTR          vdc-{{lab_name}}-vh27.kvm.{{lab_name}}.cp.vdc.
41              IN PTR          vdc-{{lab_name}}-vh28.kvm.{{lab_name}}.cp.vdc.
42              IN PTR          vdc-{{lab_name}}-vh29.kvm.{{lab_name}}.cp.vdc.
43              IN PTR          vdc-{{lab_name}}-vh2a.kvm.{{lab_name}}.cp.vdc.
44              IN PTR          vdc-{{lab_name}}-vh2b.kvm.{{lab_name}}.cp.vdc.
45              IN PTR          vdc-{{lab_name}}-vh2c.kvm.{{lab_name}}.cp.vdc.
46              IN PTR          vdc-{{lab_name}}-vh2d.kvm.{{lab_name}}.cp.vdc.
47              IN PTR          vdc-{{lab_name}}-vh2e.kvm.{{lab_name}}.cp.vdc.
48              IN PTR          vdc-{{lab_name}}-vh2f.kvm.{{lab_name}}.cp.vdc.
49              IN PTR          vdc-{{lab_name}}-vh30.kvm.{{lab_name}}.cp.vdc.
50              IN PTR          vdc-{{lab_name}}-vh31.kvm.{{lab_name}}.cp.vdc.
51              IN PTR          vdc-{{lab_name}}-vh32.kvm.{{lab_name}}.cp.vdc.
52              IN PTR          vdc-{{lab_name}}-vh33.kvm.{{lab_name}}.cp.vdc.
53              IN PTR          vdc-{{lab_name}}-vh34.kvm.{{lab_name}}.cp.vdc.
54              IN PTR          vdc-{{lab_name}}-vh35.kvm.{{lab_name}}.cp.vdc.
55              IN PTR          vdc-{{lab_name}}-vh36.kvm.{{lab_name}}.cp.vdc.
56              IN PTR          vdc-{{lab_name}}-vh37.kvm.{{lab_name}}.cp.vdc.
57              IN PTR          vdc-{{lab_name}}-vh38.kvm.{{lab_name}}.cp.vdc.
58              IN PTR          vdc-{{lab_name}}-vh39.kvm.{{lab_name}}.cp.vdc.
59              IN PTR          vdc-{{lab_name}}-vh3a.kvm.{{lab_name}}.cp.vdc.
60              IN PTR          vdc-{{lab_name}}-vh3b.kvm.{{lab_name}}.cp.vdc.
61              IN PTR          vdc-{{lab_name}}-vh3c.kvm.{{lab_name}}.cp.vdc.
62              IN PTR          vdc-{{lab_name}}-vh3d.kvm.{{lab_name}}.cp.vdc.
63              IN PTR          vdc-{{lab_name}}-vh3e.kvm.{{lab_name}}.cp.vdc.
64              IN PTR          vdc-{{lab_name}}-vh3f.kvm.{{lab_name}}.cp.vdc.
65              IN PTR          vdc-{{lab_name}}-vh40.kvm.{{lab_name}}.cp.vdc.
66              IN PTR          vdc-{{lab_name}}-vh41.kvm.{{lab_name}}.cp.vdc.
67              IN PTR          vdc-{{lab_name}}-vh42.kvm.{{lab_name}}.cp.vdc.
68              IN PTR          vdc-{{lab_name}}-vh43.kvm.{{lab_name}}.cp.vdc.
69              IN PTR          vdc-{{lab_name}}-vh44.kvm.{{lab_name}}.cp.vdc.
70              IN PTR          vdc-{{lab_name}}-vh45.kvm.{{lab_name}}.cp.vdc.
71              IN PTR          vdc-{{lab_name}}-vh46.kvm.{{lab_name}}.cp.vdc.
72              IN PTR          vdc-{{lab_name}}-vh47.kvm.{{lab_name}}.cp.vdc.
73              IN PTR          vdc-{{lab_name}}-vh48.kvm.{{lab_name}}.cp.vdc.
74              IN PTR          vdc-{{lab_name}}-vh49.kvm.{{lab_name}}.cp.vdc.
75              IN PTR          vdc-{{lab_name}}-vh4a.kvm.{{lab_name}}.cp.vdc.
76              IN PTR          vdc-{{lab_name}}-vh4b.kvm.{{lab_name}}.cp.vdc.
77              IN PTR          vdc-{{lab_name}}-vh4c.kvm.{{lab_name}}.cp.vdc.
78              IN PTR          vdc-{{lab_name}}-vh4d.kvm.{{lab_name}}.cp.vdc.
79              IN PTR          vdc-{{lab_name}}-vh4e.kvm.{{lab_name}}.cp.vdc.
80              IN PTR          vdc-{{lab_name}}-vh4f.kvm.{{lab_name}}.cp.vdc.
81              IN PTR          vdc-{{lab_name}}-vh50.kvm.{{lab_name}}.cp.vdc.
82              IN PTR          vdc-{{lab_name}}-vh51.kvm.{{lab_name}}.cp.vdc.
83              IN PTR          vdc-{{lab_name}}-vh52.kvm.{{lab_name}}.cp.vdc.
84              IN PTR          vdc-{{lab_name}}-vh53.kvm.{{lab_name}}.cp.vdc.
85              IN PTR          vdc-{{lab_name}}-vh54.kvm.{{lab_name}}.cp.vdc.
86              IN PTR          vdc-{{lab_name}}-vh55.kvm.{{lab_name}}.cp.vdc.
87              IN PTR          vdc-{{lab_name}}-vh56.kvm.{{lab_name}}.cp.vdc.
88              IN PTR          vdc-{{lab_name}}-vh57.kvm.{{lab_name}}.cp.vdc.
89              IN PTR          vdc-{{lab_name}}-vh58.kvm.{{lab_name}}.cp.vdc.
90              IN PTR          vdc-{{lab_name}}-vh59.kvm.{{lab_name}}.cp.vdc.
91              IN PTR          vdc-{{lab_name}}-vh5a.kvm.{{lab_name}}.cp.vdc.
92              IN PTR          vdc-{{lab_name}}-vh5b.kvm.{{lab_name}}.cp.vdc.
93              IN PTR          vdc-{{lab_name}}-vh5c.kvm.{{lab_name}}.cp.vdc.
94              IN PTR          vdc-{{lab_name}}-vh5d.kvm.{{lab_name}}.cp.vdc.
95              IN PTR          vdc-{{lab_name}}-vh5e.kvm.{{lab_name}}.cp.vdc.
96              IN PTR          vdc-{{lab_name}}-vh5f.kvm.{{lab_name}}.cp.vdc.



;; XEN          xen.{{lab_name}}.cp.vdc    10.220.137.128/25
$ORIGIN 137.220.10.in-addr.arpa.
129             IN PTR          vdc-{{lab_name}}-vh00.xen.{{lab_name}}.cp.vdc.
130             IN PTR          vdc-{{lab_name}}-vh01.xen.{{lab_name}}.cp.vdc.
131             IN PTR          vdc-{{lab_name}}-vh02.xen.{{lab_name}}.cp.vdc.
132             IN PTR          vdc-{{lab_name}}-vh03.xen.{{lab_name}}.cp.vdc.
133             IN PTR          vdc-{{lab_name}}-vh04.xen.{{lab_name}}.cp.vdc.
134             IN PTR          vdc-{{lab_name}}-vh05.xen.{{lab_name}}.cp.vdc.
135             IN PTR          vdc-{{lab_name}}-vh06.xen.{{lab_name}}.cp.vdc.
136             IN PTR          vdc-{{lab_name}}-vh07.xen.{{lab_name}}.cp.vdc.
137             IN PTR          vdc-{{lab_name}}-vh08.xen.{{lab_name}}.cp.vdc.
138             IN PTR          vdc-{{lab_name}}-vh09.xen.{{lab_name}}.cp.vdc.
139             IN PTR          vdc-{{lab_name}}-vh0a.xen.{{lab_name}}.cp.vdc.
140             IN PTR          vdc-{{lab_name}}-vh0b.xen.{{lab_name}}.cp.vdc.
141             IN PTR          vdc-{{lab_name}}-vh0c.xen.{{lab_name}}.cp.vdc.
142             IN PTR          vdc-{{lab_name}}-vh0d.xen.{{lab_name}}.cp.vdc.
143             IN PTR          vdc-{{lab_name}}-vh0e.xen.{{lab_name}}.cp.vdc.
144             IN PTR          vdc-{{lab_name}}-vh0f.xen.{{lab_name}}.cp.vdc.
145             IN PTR          vdc-{{lab_name}}-vh10.xen.{{lab_name}}.cp.vdc.
146             IN PTR          vdc-{{lab_name}}-vh11.xen.{{lab_name}}.cp.vdc.
147             IN PTR          vdc-{{lab_name}}-vh12.xen.{{lab_name}}.cp.vdc.
148             IN PTR          vdc-{{lab_name}}-vh13.xen.{{lab_name}}.cp.vdc.
149             IN PTR          vdc-{{lab_name}}-vh14.xen.{{lab_name}}.cp.vdc.
150             IN PTR          vdc-{{lab_name}}-vh15.xen.{{lab_name}}.cp.vdc.
151             IN PTR          vdc-{{lab_name}}-vh16.xen.{{lab_name}}.cp.vdc.
152             IN PTR          vdc-{{lab_name}}-vh17.xen.{{lab_name}}.cp.vdc.
153             IN PTR          vdc-{{lab_name}}-vh18.xen.{{lab_name}}.cp.vdc.
154             IN PTR          vdc-{{lab_name}}-vh19.xen.{{lab_name}}.cp.vdc.
155             IN PTR          vdc-{{lab_name}}-vh1a.xen.{{lab_name}}.cp.vdc.
156             IN PTR          vdc-{{lab_name}}-vh1b.xen.{{lab_name}}.cp.vdc.
157             IN PTR          vdc-{{lab_name}}-vh1c.xen.{{lab_name}}.cp.vdc.
158             IN PTR          vdc-{{lab_name}}-vh1d.xen.{{lab_name}}.cp.vdc.
159             IN PTR          vdc-{{lab_name}}-vh1e.xen.{{lab_name}}.cp.vdc.
160             IN PTR          vdc-{{lab_name}}-vh1f.xen.{{lab_name}}.cp.vdc.
161             IN PTR          vdc-{{lab_name}}-vh20.xen.{{lab_name}}.cp.vdc.
162             IN PTR          vdc-{{lab_name}}-vh21.xen.{{lab_name}}.cp.vdc.
163             IN PTR          vdc-{{lab_name}}-vh22.xen.{{lab_name}}.cp.vdc.
164             IN PTR          vdc-{{lab_name}}-vh23.xen.{{lab_name}}.cp.vdc.
165             IN PTR          vdc-{{lab_name}}-vh24.xen.{{lab_name}}.cp.vdc.
166             IN PTR          vdc-{{lab_name}}-vh25.xen.{{lab_name}}.cp.vdc.
167             IN PTR          vdc-{{lab_name}}-vh26.xen.{{lab_name}}.cp.vdc.
168             IN PTR          vdc-{{lab_name}}-vh27.xen.{{lab_name}}.cp.vdc.
169             IN PTR          vdc-{{lab_name}}-vh28.xen.{{lab_name}}.cp.vdc.
170             IN PTR          vdc-{{lab_name}}-vh29.xen.{{lab_name}}.cp.vdc.
171             IN PTR          vdc-{{lab_name}}-vh2a.xen.{{lab_name}}.cp.vdc.
172             IN PTR          vdc-{{lab_name}}-vh2b.xen.{{lab_name}}.cp.vdc.
173             IN PTR          vdc-{{lab_name}}-vh2c.xen.{{lab_name}}.cp.vdc.
174             IN PTR          vdc-{{lab_name}}-vh2d.xen.{{lab_name}}.cp.vdc.
175             IN PTR          vdc-{{lab_name}}-vh2e.xen.{{lab_name}}.cp.vdc.
176             IN PTR          vdc-{{lab_name}}-vh2f.xen.{{lab_name}}.cp.vdc.
177             IN PTR          vdc-{{lab_name}}-vh30.xen.{{lab_name}}.cp.vdc.
178             IN PTR          vdc-{{lab_name}}-vh31.xen.{{lab_name}}.cp.vdc.
179             IN PTR          vdc-{{lab_name}}-vh32.xen.{{lab_name}}.cp.vdc.
180             IN PTR          vdc-{{lab_name}}-vh33.xen.{{lab_name}}.cp.vdc.
181             IN PTR          vdc-{{lab_name}}-vh34.xen.{{lab_name}}.cp.vdc.
182             IN PTR          vdc-{{lab_name}}-vh35.xen.{{lab_name}}.cp.vdc.
183             IN PTR          vdc-{{lab_name}}-vh36.xen.{{lab_name}}.cp.vdc.
184             IN PTR          vdc-{{lab_name}}-vh37.xen.{{lab_name}}.cp.vdc.
185             IN PTR          vdc-{{lab_name}}-vh38.xen.{{lab_name}}.cp.vdc.
186             IN PTR          vdc-{{lab_name}}-vh39.xen.{{lab_name}}.cp.vdc.
187             IN PTR          vdc-{{lab_name}}-vh3a.xen.{{lab_name}}.cp.vdc.
188             IN PTR          vdc-{{lab_name}}-vh3b.xen.{{lab_name}}.cp.vdc.
189             IN PTR          vdc-{{lab_name}}-vh3c.xen.{{lab_name}}.cp.vdc.
190             IN PTR          vdc-{{lab_name}}-vh3d.xen.{{lab_name}}.cp.vdc.
191             IN PTR          vdc-{{lab_name}}-vh3e.xen.{{lab_name}}.cp.vdc.
192             IN PTR          vdc-{{lab_name}}-vh3f.xen.{{lab_name}}.cp.vdc.
193             IN PTR          vdc-{{lab_name}}-vh40.xen.{{lab_name}}.cp.vdc.
194             IN PTR          vdc-{{lab_name}}-vh41.xen.{{lab_name}}.cp.vdc.
195             IN PTR          vdc-{{lab_name}}-vh42.xen.{{lab_name}}.cp.vdc.
196             IN PTR          vdc-{{lab_name}}-vh43.xen.{{lab_name}}.cp.vdc.
197             IN PTR          vdc-{{lab_name}}-vh44.xen.{{lab_name}}.cp.vdc.
198             IN PTR          vdc-{{lab_name}}-vh45.xen.{{lab_name}}.cp.vdc.
199             IN PTR          vdc-{{lab_name}}-vh46.xen.{{lab_name}}.cp.vdc.
200             IN PTR          vdc-{{lab_name}}-vh47.xen.{{lab_name}}.cp.vdc.
201             IN PTR          vdc-{{lab_name}}-vh48.xen.{{lab_name}}.cp.vdc.
202             IN PTR          vdc-{{lab_name}}-vh49.xen.{{lab_name}}.cp.vdc.
203             IN PTR          vdc-{{lab_name}}-vh4a.xen.{{lab_name}}.cp.vdc.
204             IN PTR          vdc-{{lab_name}}-vh4b.xen.{{lab_name}}.cp.vdc.
205             IN PTR          vdc-{{lab_name}}-vh4c.xen.{{lab_name}}.cp.vdc.
206             IN PTR          vdc-{{lab_name}}-vh4d.xen.{{lab_name}}.cp.vdc.
207             IN PTR          vdc-{{lab_name}}-vh4e.xen.{{lab_name}}.cp.vdc.
208             IN PTR          vdc-{{lab_name}}-vh4f.xen.{{lab_name}}.cp.vdc.
209             IN PTR          vdc-{{lab_name}}-vh50.xen.{{lab_name}}.cp.vdc.
210             IN PTR          vdc-{{lab_name}}-vh51.xen.{{lab_name}}.cp.vdc.
211             IN PTR          vdc-{{lab_name}}-vh52.xen.{{lab_name}}.cp.vdc.
212             IN PTR          vdc-{{lab_name}}-vh53.xen.{{lab_name}}.cp.vdc.
213             IN PTR          vdc-{{lab_name}}-vh54.xen.{{lab_name}}.cp.vdc.
214             IN PTR          vdc-{{lab_name}}-vh55.xen.{{lab_name}}.cp.vdc.
215             IN PTR          vdc-{{lab_name}}-vh56.xen.{{lab_name}}.cp.vdc.
216             IN PTR          vdc-{{lab_name}}-vh57.xen.{{lab_name}}.cp.vdc.
217             IN PTR          vdc-{{lab_name}}-vh58.xen.{{lab_name}}.cp.vdc.
218             IN PTR          vdc-{{lab_name}}-vh59.xen.{{lab_name}}.cp.vdc.
219             IN PTR          vdc-{{lab_name}}-vh5a.xen.{{lab_name}}.cp.vdc.
220             IN PTR          vdc-{{lab_name}}-vh5b.xen.{{lab_name}}.cp.vdc.
221             IN PTR          vdc-{{lab_name}}-vh5c.xen.{{lab_name}}.cp.vdc.
222             IN PTR          vdc-{{lab_name}}-vh5d.xen.{{lab_name}}.cp.vdc.
223             IN PTR          vdc-{{lab_name}}-vh5e.xen.{{lab_name}}.cp.vdc.
224             IN PTR          vdc-{{lab_name}}-vh5f.xen.{{lab_name}}.cp.vdc.

