---
vmware_vcenter: "vdc-ll{{lab_number}}-cpvsp1.lablon15.cp.vdc" 
vcenter_user: "cloudplatform"
vcenter_password: "Interoute01"
lab_dc: "lablon{{lab_number}}"
lab_cluster: "ESX{{lab_number}}Clustertest"
esxi_hosts:
    hostname: "vdc-lablon{{lab_number}}-{{item}}.lablon15.cp.vdc"
    user: "root"
    password: "Interoute01"
    with_items:
        - "vh09"
        - "vh0a"
vmware_dvs:
    storage:
        name: storage
        mtu: 9000
        uplink_quantity: 2
        numPorts: 128
        discovery_protocol: "cdp"
        discovery_operation: "both"
        portgroups:
            - name: "VMk-NFS"
              port_binding: "dynamic"
              portgroup_type: "earlyBinding"
              port_allocation: "elastic"
              numPorts: 64
              vlan: {{lab_number}}07
            - name: "VMk-iSCSI-1"
              port_binding: "dynamic"
              portgroup_type: "earlyBinding"
              port_allocation: "elastic"
              numPorts: 64
              vlan: {{lab_number}}04
            - name: "VMk_iSCSI_2"
              port_binding: "dynamic"
              portgroup_type: "earlyBinding"
              port_allocation: "elastic"
              numPorts: 64
              vlan: {{lab_number}}04
            - name: "VMk-vMotion"
              port_binding: "dynamic"
              portgroup_type: "earlyBinding"
              port_allocation: "elastic"
              numPorts: 64
              vlan: {{lab_number}}04
    external:
        name: external
        mtu: 9000
        uplink_quantity: 2
        numPorts: 128
        discovery_protocol: "cdp"
        discovery_operation: "both"
        portgroups:
           - name: 'Management Network'
             port_binding: "dynamic"
             portgroup_type: "earlyBinding"
             port_allocation: "elastic"
             numPorts: 64
             vlan: {{lab_number}}11


esxi_username: "root"
esxi_password: "Interoute01"
