zone_name={{lab_name}}
dns_ext1={{dns_ext1}}
dns_ext2={{dns_ext2}}
ipv6d_dns1=
ipv6d_dns1=
dns_int1={{dns_ext1}}
dns_int2={{dns_ext2}}
hypervisor=Vmware
guest_domain=guest.vdc
guest_cidr=192.168.{{mgmt_octet}}.0/24
dedicated=No
localsto4uservms=No
localsto4sysvms=No

phynet1_name=vNET-External
phynet2_name=vNET-Storage

mgmt_traffic_phynet=phynet1
mgmt_traffic_vswitch=vSwitch0
mgmt_traffic_vlan={{mgmt_traffic_vlan}}
mgmt_traffic_vswitch_type=vmwaresvs

public_traffic_phynet=phynet1
public_traffic_vswitch=vSwitch0
public_traffic_vlan={{public_traffic_vlan}}
public_traffic_vswitch_type=vmwaresvs

guest_traffic_phynet=phynet1
guest_traffic_vswitch=vSwitch0
guest_traffic_vlan=
guest_traffic_vswitch_type=vmwaresvs

storage_traffic_phynet=phynet2
storage_traffic_vswitch=vSwitch_Storage
storage_traffic_vlan={{storage_traffic_vlan}}
storage_traffic_vswitch_type=vmwaresvs


public_gw=10.220.{{public_octet}}.254
public_nmask=255.255.255.0
public_vlan={{public_traffic_vlan}}
public_ip_start=10.220.{{public_octet}}.1
public_ip_end=10.220.{{public_octet}}.200

pod_name=lablon12-esx-pod1
system_gw=10.220.{{esx_octet}}.254
system_nmask=255.255.255.0
pod_ip_start=10.220.{{esx_octet}}.101
pod_ip_end=10.220.{{esx_octet}}.200

guest_startvlan={{guest_startvlan}}
guest_endvlan={{guest_endvlan}}
guest_vlan_range={{guest_startvlan}}-{{guest_endvlan}}

storage_gw=10.220.{{storage_octet}}.254
storage_nmask=255.255.255.128
storage_vlan=storage_traffic_vlan
storage_ip_start=10.220.{{storage_octet}}.220
storage_ip_end=10.220.{{storage_octet}}.227

pod_name={{lab_name}}-esx-pod1
{% for cluster in clusters %}
vmware_cluster{{ loop.index }}={{cluster.name}}
{% endfor %}
vmware_host=vdc-ll{{lab_number}}-cpvsp1.{{lab_name}}.cp.vdc
vmware_user=cloudplatform
vmware_password=Interoute01
vmware_dc={{lab_name}}

primary_storage_name={{lab_name}}-esx1-primary-vms
primary_storage_scope=zone
primary_storage_protocol=nfs
primary_storage_server=vdc-{{lab_name}}-sa01.nfs.{{lab_name}}.cp.vdc
primary_storage_path=/vol/LABLON{{lab_number}}_VMS40_HDD1
primary_storage_tags=vms

ebs_storage_name={{lab_name}}-esx1-primary-ebs-vms
ebs_storage_scope=zone
ebs_storage_protocol=nfs
ebs_storage_server=vdc-{{lab_name}}-sa02.nfs.{{lab_name}}.cp.vdc
ebs_storage_path=/vol/LABLON{{lab_number}}_EBS40_HDD1
ebs_storage_tags=ebs

secondary_storage_provider=nfs
secondary_storage_name={{lab_name}}-esx1-secondary
secondary_storage_server=vdc-{{lab_name}}-sa02.nfs.{{lab_name}}.cp.vdc
secondary_storage_path=/vol/LL{{lab_number}}_CPSecondary
