update configuration name=account.cleanup.interval value="604800"
update configuration name=affinity.processors.order value="HostAntiAffinityProcessor,ExplicitDedicationProcessor"
update configuration name=agent.lb.enabled value=true
update configuration name=agent.load.threshold value="0.7"
update configuration name=alert.purge.delay value="0"
update configuration name=alert.purge.interval value="86400"
update configuration name=alert.smtp.connectiontimeout value="30000"
update configuration name=alert.smtp.host value="127.0.0.1"
update configuration name=alert.smtp.port value="25"
update configuration name=alert.smtp.timeout value="30000"
update configuration name=alert.smtp.useAuth value=false
update configuration name=allow.public.user.templates value=false
update configuration name=allow.subdomain.network.access value=true
update configuration name=allow.user.create.projects value=false
update configuration name=api.throttling.cachesize value="50000"
update configuration name=api.throttling.enabled value=true
update configuration name=api.throttling.interval value="1"
update configuration name=api.throttling.max value="500"
update configuration name=apply.allocation.algorithm.to.pods value=false
update configuration name=backup.snapshot.wait value="21600"
update configuration name=baremetal.ipmi.fail.retry value="default"
update configuration name=baremetal.ipmi.lan.interface value="default"
update configuration name=capacity.check.period value="300000"
update configuration name=capacity.skipcounting.hours value="3600"
update configuration name=check.pod.cidrs value=false
update configuration name=cluster.cpu.allocated.capacity.disablethreshold value="0.85"
update configuration name=cluster.cpu.allocated.capacity.notificationthreshold value="0.75"
update configuration name=cluster.heartbeat.interval value="1500"
update configuration name=cluster.heartbeat.threshold value="150000"
update configuration name=cluster.localStorage.capacity.notificationthreshold value="0.75"
update configuration name=cluster.memory.allocated.capacity.disablethreshold value="0.85"
update configuration name=cluster.memory.allocated.capacity.notificationthreshold value="0.75"
update configuration name=cluster.message.timeout.seconds value="300"
update configuration name=cluster.storage.allocated.capacity.notificationthreshold value="0.75"
update configuration name=cluster.storage.capacity.notificationthreshold value="0.75"
update configuration name=consoleproxy.capacity.standby value="10"
update configuration name=consoleproxy.capacityscan.interval value="30000"
update configuration name=consoleproxy.cmd.port value="8001"
update configuration name=consoleproxy.disable.rpfilter value=true
update configuration name=consoleproxy.launch.max value="10"
update configuration name=consoleproxy.loadscan.interval value="10000"
update configuration name=consoleproxy.management.state value="Auto"
update configuration name=consoleproxy.management.state.last value="Auto"
update configuration name=consoleproxy.restart value=true
update configuration name=consoleproxy.session.max value="50"
update configuration name=consoleproxy.session.timeout value="300000"
update configuration name=consoleproxy.url.domain value=""
update configuration name=control.cidr value="169.254.0.0/16"
update configuration name=control.gateway value="169.254.0.1"
update configuration name=copy.volume.wait value="28800"
update configuration name=cpu.overprovisioning.factor value="10"
update configuration name=create.private.template.from.snapshot.wait value="10800"
update configuration name=create.private.template.from.volume.wait value="10800"
update configuration name=create.volume.from.snapshot.wait value="10800"
update configuration name=custom.diskoffering.size.max value="2048"
update configuration name=custom.diskoffering.size.min value="10"
update configuration name=default.page.size value="5000"
update configuration name=deployment.planners.order value="FirstFitPlanner,UserDispersingPlanner,UserConcentratedPodPlanner,ImplicitDedicationPlanner,BareMetalPlanner"
update configuration name=detail.batch.query.size value="2000"
update configuration name=dhcp.providers.exclude value="MidoNetElement"
update configuration name=direct.agent.load.size value="16"
update configuration name=direct.agent.pool.size value="500"
update configuration name=direct.agent.scan.interval value="90"
update configuration name=direct.agent.thread.cap value="1"
update configuration name=direct.attach.network.externalIpAllocator.enabled value=false
update configuration name=direct.attach.network.externalIpAllocator.url value=""
update configuration name=direct.network.no.default.route value=false
update configuration name=direct.network.stats.interval value="86400"
update configuration name=disable.extraction value=true
update configuration name=eip.use.multiple.netscalers value=false
update configuration name=enable.baremetal.securitygroup.agent.echo value=false
update configuration name=enable.dynamic.scale.vm value=true
update configuration name=enable.ec2.api value=false
update configuration name=enable.ha.storage.migration value=true
update configuration name=enable.s3.api value=true
update configuration name=enable.usage.server value=true
update configuration name=encode.api.response value=false
update configuration name=endpointe.url value="http://localhost:8080/client/api"
update configuration name=event.purge.delay value="8"
update configuration name=event.purge.interval value="86400"
update configuration name=execute.in.sequence.hypervisor.commands value=false
update configuration name=execute.in.sequence.network.element.commands value=false
update configuration name=expunge.delay value="604800"
update configuration name=expunge.interval value="86400"
update configuration name=expunge.workers value="10"
update configuration name=external.firewall.default.capacity value="50"
update configuration name=external.lb.default.capacity value="50"
update configuration name=external.network.stats.interval value="300"
update configuration name=extract.url.cleanup.interval value="7200"
update configuration name=extract.url.expiration.interval value="14400"
update configuration name=guest.domain.suffix value="guest.vdc"
update configuration name=guest.vlan.bits value="12"
update configuration name=ha.fence.builders.exclude value="RecreatableFencer"
update configuration name=ha.investigators.order value="SimpleInvestigator,XenServerInvestigator,PingInvestigator,ManagementIPSysVMInvestigator,KVMInvestigator"
update configuration name=ha.workers value="5"
update configuration name=healthcheck.update.interval value="600"
update configuration name=host value="vdc-lablon{{ lab_number }}-cpman.lablon{{ lab_number }}.cp.vdc"
update configuration name=host.allocators.exclude value="RandomAllocator,TestingAllocator,FirstFitAllocator,RecreateHostAllocator"
update configuration name=host.capacityType.to.order.clusters value="CPU"
update configuration name=host.reservation.release.period value="300000"
update configuration name=host.retry value="2"
update configuration name=host.stats.interval value="60000"
update configuration name=hypervisor.list value="XenServer,KVM,VMware"
update configuration name=incorrect.login.attempts.allowed value="5"
update configuration name=instance.name value="VM"
update configuration name=integration.api.port value="8096"

update configuration name=interval.baremetal.securitygroup.agent.echo value="10"
update configuration name=investigate.retry.interval value="60"
update configuration name=ip.deployers.exclude value="MidoNetElement"
update configuration name=job.cancel.threshold.minutes value="240"
update configuration name=job.expire.minutes value="1440"
update configuration name=json.content.type value="text/javascript"

update configuration name=linkLocalIp.nums value="10"

update configuration name=management.network.cidr value="10.220.0.0/16"
update configuration name=max.account.cpus value="-1"
update configuration name=max.account.memory value="-1"
update configuration name=max.account.networks value="16"
update configuration name=max.account.primary.storage value="100000"
update configuration name=max.account.public.ips value="-1"
update configuration name=max.account.secondary.storage value="10000"
update configuration name=max.account.snapshots value="-1"
update configuration name=max.account.templates value="20"
update configuration name=max.account.user.vms value="-1"
update configuration name=max.account.volumes value="200"
update configuration name=max.account.vpcs value="3"
update configuration name=max.project.cpus value="-1"
update configuration name=max.project.memory value="-1"
update configuration name=max.project.networks value="8"
update configuration name=max.project.primary.storage value="7680"
update configuration name=max.project.public.ips value="3"
update configuration name=max.project.secondary.storage value="10000"
update configuration name=max.project.snapshots value="24"
update configuration name=max.project.templates value="20"
update configuration name=max.project.user.vms value="-1"
update configuration name=max.project.volumes value="200"
update configuration name=max.project.vpcs value="1"
update configuration name=max.template.iso.size value="200"
update configuration name=mem.overprovisioning.factor value="2"
update configuration name=mgt.server.vendor value="CCP"
update configuration name=midonet.apiserver.address value="http://localhost:8081"
update configuration name=midonet.providerrouter.id value="d7c5e6a3-e2f4-426b-b728-b7ce6a0448e5"
update configuration name=migrate.retry.interval value="120"
update configuration name=migratewait value="28800"
update configuration name=mount.parent value="/var/cloudstack/mnt"

update configuration name=network.dhcp.nondefaultnetwork.setgateway.guestos value="Windows"
update configuration name=network.disable.rpfilter value=true
update configuration name=network.dns.basiczone.updates value="all"
update configuration name=network.elements.registry.exclude value="ElasticLoadBalancerElement"
update configuration name=network.gc.interval value="600"
update configuration name=network.gc.wait value="600"
update configuration name=network.guest.cidr.limit value="22"

update configuration name=network.ipv6.search.retry.max value="10000"

update configuration name=alert.wait value=""



update configuration name=network.lock.timeout value="600"
update configuration name=network.router.EnableServiceMonitoring value=true
update configuration name=network.securitygroups.defaultadding value=true
update configuration name=network.securitygroups.work.cleanup.interval value="120"
update configuration name=network.securitygroups.work.lock.timeout value="300"
update configuration name=network.securitygroups.work.per.agent.queue.size value="100"
update configuration name=network.securitygroups.workers.pool.size value="50"
update configuration name=network.throttling.rate value="3000"

update configuration name=ping.interval value="300"
update configuration name=ping.timeout value="2.5"
update configuration name=pod.allocators.exclude value=""
update configuration name=pod.privateip.capacity.notificationthreshold value="0.75"
update configuration name=pool.storage.allocated.capacity.disablethreshold value="0.85"
update configuration name=pool.storage.capacity.disablethreshold value="0.85"
update configuration name=port value="8250"
update configuration name=port.forwarding.service.provider.exclude value=""
update configuration name=primary.storage.download.wait value="10800"
update configuration name=project.email.sender value=""
update configuration name=project.invite.required value=false
update configuration name=project.invite.timeout value="86400"
update configuration name=project.smtp.host value=""
update configuration name=project.smtp.password value=""
update configuration name=project.smtp.port value="465"
update configuration name=project.smtp.useAuth value=""
update configuration name=project.smtp.username value=""
update configuration name=recreate.systemvm.enabled value=false
update configuration name=remote.access.vpn.client.iprange value="192.168.199.10-192.168.199.50"
update configuration name=remote.access.vpn.psk.length value="24"
update configuration name=remote.access.vpn.service.provider.exclude value=""
update configuration name=remote.access.vpn.user.limit value="8"
update configuration name=resource.discoverers.exclude value="dummyHostDiscoverer"
update configuration name=resourcecount.check.interval value="3600"
update configuration name=restart.retry.interval value="600"
update configuration name=router.check.interval value="30"
update configuration name=router.check.poolsize value="10"
update configuration name=router.cpu.mhz value="500"
update configuration name=router.extra.public.nics value="2"
update configuration name=router.stats.interval value="300"
update configuration name=router.version.check value=true
update configuration name=s3.rrs.enabled value=false
update configuration name=s3.singleupload.max.size value="5"
update configuration name=scale.retry value="2"
update configuration name=sdn.ovs.controller value=false
update configuration name=sdn.ovs.controller.default.label value="cloud-public"

update configuration name=secondary.storage.vm.allocators.exclude value=""
update configuration name=secstorage.allowed.internal.sites value="10.0.0.0/8"
update configuration name=secstorage.capacity.standby value="10"
update configuration name=secstorage.cmd.execution.time.max value="30"

update configuration name=secstorage.encrypt.copy value=true
update configuration name=secstorage.proxy value=""
update configuration name=secstorage.service.offering value=""
update configuration name=secstorage.session.max value="5"
update configuration name=secstorage.ssl.cert.domain value="*.vdc.interoute.com"
update configuration name=secstorage.vm.mtu.size value="9000"
update configuration name=security.checkers.exclude value=""
update configuration name=security.checkers.order value="AffinityGroupAccessChecker,DomainChecker"

update configuration name=site2site.vpn.customergateway.subnets.limit value="10"
update configuration name=site2site.vpn.service.provider.exclude value=""
update configuration name=site2site.vpn.vpngateway.connection.limit value="4"
update configuration name=snapshot.backup.rightafter value=true
update configuration name=snapshot.delta.max value="16"
update configuration name=snapshot.max.daily value="6"
update configuration name=snapshot.max.hourly value="6"
update configuration name=snapshot.max.monthly value="12"
update configuration name=snapshot.max.weekly value="6"
update configuration name=snapshot.poll.interval value="300"
update configuration name=snapshot.strategies.exclude value=""
update configuration name=sortkey.algorithm value=false

update configuration name=start.retry value="10"

update configuration name=stop.retry.interval value="600"
update configuration name=storage.cache.replacement.enabled value=true
update configuration name=storage.cache.replacement.interval value="86400"
update configuration name=storage.cache.replacement.lru.interval value="30"
update configuration name=storage.cleanup.enabled value=true
update configuration name=storage.cleanup.interval value="86400"
update configuration name=storage.max.volume.size value="2002"
update configuration name=storage.max.volume.upload.size value="500"
update configuration name=storage.overprovisioning.factor value="10000"
update configuration name=storage.pool.allocators.exclude value="GCStorage"
update configuration name=storage.pool.allocators.order value="LocalStorage,ZoneWideStoragePoolAllocator,ClusterScopeStoragePoolAllocator"
update configuration name=storage.pool.max.waitseconds value="28800"
update configuration name=storage.stats.interval value="60000"
update configuration name=storage.template.cleanup.enabled value=false
update configuration name=sync.interval value="60"
update configuration name=system.vm.auto.reserve.capacity value=true


update configuration name=system.vm.random.password value=true
update configuration name=system.vm.use.local.storage value=false
update configuration name=task.cleanup.retry.interval value="600"

update configuration name=timeout.baremetal.securitygroup.agent.echo value="3600"
update configuration name=total.retries value="4"
update configuration name=traffic.sentinel.exclude.zones value=""
update configuration name=traffic.sentinel.include.zones value="EXTERNAL"
update configuration name=ucs.sync.blade.interval value="3600"
update configuration name=update.wait value="600"
update configuration name=usage.aggregation.timezone value="Etc/UTC"
update configuration name=usage.execution.timezone value="Etc/UTC"
update configuration name=usage.sanity.check.interval value="7"
update configuration name=usage.stats.job.aggregation.range value="60"
update configuration name=usage.stats.job.exec.time value="0.000694444444444444"
update configuration name=use.external.dns value=false
update configuration name=use.system.guest.vlans value=false
update configuration name=use.system.public.ips value=false
update configuration name=user.authenticators.exclude value=""
update configuration name=user.authenticators.order value="SHA256SALT,MD5,LDAP,PLAINTEXT"
update configuration name=user.password.encoders.exclude value=""
update configuration name=user.password.encoders.order value="SHA256SALT,MD5,LDAP,PLAINTEXT"
update configuration name=vm.allocation.algorithm value="random"
update configuration name=vm.deployment.planner value="UserDispersingPlanner"
update configuration name=vm.destroy.forcestop value=false
update configuration name=vm.disk.stats.interval value="0"
update configuration name=vm.disk.throttling.bytes_read_rate value="0"
update configuration name=vm.disk.throttling.bytes_write_rate value="0"
update configuration name=vm.disk.throttling.iops_read_rate value="0"
update configuration name=vm.disk.throttling.iops_write_rate value="0"
update configuration name=vm.instancename.flag value=false
update configuration name=vm.job.check.interval value="3000"
update configuration name=vm.job.report.interval value="60"
update configuration name=vm.job.timeout value="600000"
update configuration name=vm.network.throttling.rate value="3000"
update configuration name=vm.op.cancel.interval value="3600"
update configuration name=vm.op.cleanup.interval value="86400"
update configuration name=vm.op.cleanup.wait value="3600"
update configuration name=vm.op.lock.state.retry value="5"
update configuration name=vm.op.wait.interval value="120"
update configuration name=vm.stats.interval value="60000"
update configuration name=vm.tranisition.wait.interval value="3600"
update configuration name=vm.user.dispersion.weight value="1"
update configuration name=vmsnapshot.create.wait value="1800"
update configuration name=vmsnapshot.max value="10"
update configuration name=vmSnapshot.strategies.exclude value=""
update configuration name=vmware.additional.vnc.portrange.size value="5000"
update configuration name=vmware.additional.vnc.portrange.start value="50000"
update configuration name=vmware.create.full.clone value=true
update configuration name=vmware.hung.wokervm.timeout value="7200"
update configuration name=vmware.management.portgroup value="Management Network"
update configuration name=vmware.nested.virtualization value=false
update configuration name=vmware.ports.per.dvportgroup value="256"
update configuration name=vmware.recycle.hung.wokervm value=false
update configuration name=vmware.reserve.cpu value=false
update configuration name=vmware.reserve.mem value=false
update configuration name=vmware.root.disk.controller value="scsi"
update configuration name=vmware.service.console value="Service Console"
update configuration name=vmware.systemvm.nic.device.type value="Vmxnet3"
update configuration name=vmware.use.dvswitch value=true
update configuration name=vmware.use.nexus.vswitch value=false
update configuration name=vmware.vcenter.session.timeout value="28800"
update configuration name=vpc.cleanup.interval value="3600"
update configuration name=vpc.max.networks value="3"
update configuration name=vpc.providers.exclude value=""
update configuration name=wait value="14400"
update configuration name=workers value="5"
update configuration name=xapiwait value="600"
update configuration name=zone.directnetwork.publicip.capacity.notificationthreshold value="0.75"
update configuration name=zone.secstorage.capacity.notificationthreshold value="0.75"
update configuration name=zone.virtualnetwork.publicip.capacity.notificationthreshold value="0.75"
update configuration name=zone.vlan.capacity.notificationthreshold value="0.75"
