$TTL 86400
@       IN SOA     masterdns.{{lab_name}}.cp.vdc. root.{{lab_name}}.cp.vdc. (
        {{date}}01  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        30          ;Minimum TTL
)

        IN NS           masterdns.{{lab_name}}.cp.vdc.


;; iSCSI1       iscsi1.{{lab_name}}.cp.vdc 10.220.{{iscsi_octet}}.0/25
$ORIGIN {{iscsi_octet}}.220.10.in-addr.arpa.
1               IN PTR          vdc-{{lab_name}}-vh00.iscsi1.{{lab_name}}.cp.vdc.
2               IN PTR          vdc-{{lab_name}}-vh01.iscsi1.{{lab_name}}.cp.vdc.
3               IN PTR          vdc-{{lab_name}}-vh02.iscsi1.{{lab_name}}.cp.vdc.
4               IN PTR          vdc-{{lab_name}}-vh03.iscsi1.{{lab_name}}.cp.vdc.
5               IN PTR          vdc-{{lab_name}}-vh04.iscsi1.{{lab_name}}.cp.vdc.
6               IN PTR          vdc-{{lab_name}}-vh05.iscsi1.{{lab_name}}.cp.vdc.
7               IN PTR          vdc-{{lab_name}}-vh06.iscsi1.{{lab_name}}.cp.vdc.
8               IN PTR          vdc-{{lab_name}}-vh07.iscsi1.{{lab_name}}.cp.vdc.
9               IN PTR          vdc-{{lab_name}}-vh08.iscsi1.{{lab_name}}.cp.vdc.
10              IN PTR          vdc-{{lab_name}}-vh09.iscsi1.{{lab_name}}.cp.vdc.
11              IN PTR          vdc-{{lab_name}}-vh0a.iscsi1.{{lab_name}}.cp.vdc.
12              IN PTR          vdc-{{lab_name}}-vh0b.iscsi1.{{lab_name}}.cp.vdc.
13              IN PTR          vdc-{{lab_name}}-vh0c.iscsi1.{{lab_name}}.cp.vdc.
14              IN PTR          vdc-{{lab_name}}-vh0d.iscsi1.{{lab_name}}.cp.vdc.
15              IN PTR          vdc-{{lab_name}}-vh0e.iscsi1.{{lab_name}}.cp.vdc.
16              IN PTR          vdc-{{lab_name}}-vh0f.iscsi1.{{lab_name}}.cp.vdc.
17              IN PTR          vdc-{{lab_name}}-vh10.iscsi1.{{lab_name}}.cp.vdc.
18              IN PTR          vdc-{{lab_name}}-vh11.iscsi1.{{lab_name}}.cp.vdc.
19              IN PTR          vdc-{{lab_name}}-vh12.iscsi1.{{lab_name}}.cp.vdc.
20              IN PTR          vdc-{{lab_name}}-vh13.iscsi1.{{lab_name}}.cp.vdc.
21              IN PTR          vdc-{{lab_name}}-vh14.iscsi1.{{lab_name}}.cp.vdc.
22              IN PTR          vdc-{{lab_name}}-vh15.iscsi1.{{lab_name}}.cp.vdc.
23              IN PTR          vdc-{{lab_name}}-vh16.iscsi1.{{lab_name}}.cp.vdc.
24              IN PTR          vdc-{{lab_name}}-vh17.iscsi1.{{lab_name}}.cp.vdc.
25              IN PTR          vdc-{{lab_name}}-vh18.iscsi1.{{lab_name}}.cp.vdc.
26              IN PTR          vdc-{{lab_name}}-vh19.iscsi1.{{lab_name}}.cp.vdc.
27              IN PTR          vdc-{{lab_name}}-vh1a.iscsi1.{{lab_name}}.cp.vdc.
28              IN PTR          vdc-{{lab_name}}-vh1b.iscsi1.{{lab_name}}.cp.vdc.
29              IN PTR          vdc-{{lab_name}}-vh1c.iscsi1.{{lab_name}}.cp.vdc.
30              IN PTR          vdc-{{lab_name}}-vh1d.iscsi1.{{lab_name}}.cp.vdc.
31              IN PTR          vdc-{{lab_name}}-vh1e.iscsi1.{{lab_name}}.cp.vdc.
32              IN PTR          vdc-{{lab_name}}-vh1f.iscsi1.{{lab_name}}.cp.vdc.
33              IN PTR          vdc-{{lab_name}}-vh20.iscsi1.{{lab_name}}.cp.vdc.
34              IN PTR          vdc-{{lab_name}}-vh21.iscsi1.{{lab_name}}.cp.vdc.
35              IN PTR          vdc-{{lab_name}}-vh22.iscsi1.{{lab_name}}.cp.vdc.
36              IN PTR          vdc-{{lab_name}}-vh23.iscsi1.{{lab_name}}.cp.vdc.
37              IN PTR          vdc-{{lab_name}}-vh24.iscsi1.{{lab_name}}.cp.vdc.
38              IN PTR          vdc-{{lab_name}}-vh25.iscsi1.{{lab_name}}.cp.vdc.
39              IN PTR          vdc-{{lab_name}}-vh26.iscsi1.{{lab_name}}.cp.vdc.
40              IN PTR          vdc-{{lab_name}}-vh27.iscsi1.{{lab_name}}.cp.vdc.
41              IN PTR          vdc-{{lab_name}}-vh28.iscsi1.{{lab_name}}.cp.vdc.
42              IN PTR          vdc-{{lab_name}}-vh29.iscsi1.{{lab_name}}.cp.vdc.
43              IN PTR          vdc-{{lab_name}}-vh2a.iscsi1.{{lab_name}}.cp.vdc.
44              IN PTR          vdc-{{lab_name}}-vh2b.iscsi1.{{lab_name}}.cp.vdc.
45              IN PTR          vdc-{{lab_name}}-vh2c.iscsi1.{{lab_name}}.cp.vdc.
46              IN PTR          vdc-{{lab_name}}-vh2d.iscsi1.{{lab_name}}.cp.vdc.
47              IN PTR          vdc-{{lab_name}}-vh2e.iscsi1.{{lab_name}}.cp.vdc.
48              IN PTR          vdc-{{lab_name}}-vh2f.iscsi1.{{lab_name}}.cp.vdc.
49              IN PTR          vdc-{{lab_name}}-vh30.iscsi1.{{lab_name}}.cp.vdc.
50              IN PTR          vdc-{{lab_name}}-vh31.iscsi1.{{lab_name}}.cp.vdc.
51              IN PTR          vdc-{{lab_name}}-vh32.iscsi1.{{lab_name}}.cp.vdc.
52              IN PTR          vdc-{{lab_name}}-vh33.iscsi1.{{lab_name}}.cp.vdc.
53              IN PTR          vdc-{{lab_name}}-vh34.iscsi1.{{lab_name}}.cp.vdc.
54              IN PTR          vdc-{{lab_name}}-vh35.iscsi1.{{lab_name}}.cp.vdc.
55              IN PTR          vdc-{{lab_name}}-vh36.iscsi1.{{lab_name}}.cp.vdc.
56              IN PTR          vdc-{{lab_name}}-vh37.iscsi1.{{lab_name}}.cp.vdc.
57              IN PTR          vdc-{{lab_name}}-vh38.iscsi1.{{lab_name}}.cp.vdc.
58              IN PTR          vdc-{{lab_name}}-vh39.iscsi1.{{lab_name}}.cp.vdc.
59              IN PTR          vdc-{{lab_name}}-vh3a.iscsi1.{{lab_name}}.cp.vdc.
60              IN PTR          vdc-{{lab_name}}-vh3b.iscsi1.{{lab_name}}.cp.vdc.
61              IN PTR          vdc-{{lab_name}}-vh3c.iscsi1.{{lab_name}}.cp.vdc.
62              IN PTR          vdc-{{lab_name}}-vh3d.iscsi1.{{lab_name}}.cp.vdc.
63              IN PTR          vdc-{{lab_name}}-vh3e.iscsi1.{{lab_name}}.cp.vdc.
64              IN PTR          vdc-{{lab_name}}-vh3f.iscsi1.{{lab_name}}.cp.vdc.
65              IN PTR          vdc-{{lab_name}}-vh40.iscsi1.{{lab_name}}.cp.vdc.
66              IN PTR          vdc-{{lab_name}}-vh41.iscsi1.{{lab_name}}.cp.vdc.
67              IN PTR          vdc-{{lab_name}}-vh42.iscsi1.{{lab_name}}.cp.vdc.
68              IN PTR          vdc-{{lab_name}}-vh43.iscsi1.{{lab_name}}.cp.vdc.
69              IN PTR          vdc-{{lab_name}}-vh44.iscsi1.{{lab_name}}.cp.vdc.
70              IN PTR          vdc-{{lab_name}}-vh45.iscsi1.{{lab_name}}.cp.vdc.
71              IN PTR          vdc-{{lab_name}}-vh46.iscsi1.{{lab_name}}.cp.vdc.
72              IN PTR          vdc-{{lab_name}}-vh47.iscsi1.{{lab_name}}.cp.vdc.
73              IN PTR          vdc-{{lab_name}}-vh48.iscsi1.{{lab_name}}.cp.vdc.
74              IN PTR          vdc-{{lab_name}}-vh49.iscsi1.{{lab_name}}.cp.vdc.
75              IN PTR          vdc-{{lab_name}}-vh4a.iscsi1.{{lab_name}}.cp.vdc.
76              IN PTR          vdc-{{lab_name}}-vh4b.iscsi1.{{lab_name}}.cp.vdc.
77              IN PTR          vdc-{{lab_name}}-vh4c.iscsi1.{{lab_name}}.cp.vdc.
78              IN PTR          vdc-{{lab_name}}-vh4d.iscsi1.{{lab_name}}.cp.vdc.
79              IN PTR          vdc-{{lab_name}}-vh4e.iscsi1.{{lab_name}}.cp.vdc.
80              IN PTR          vdc-{{lab_name}}-vh4f.iscsi1.{{lab_name}}.cp.vdc.
81              IN PTR          vdc-{{lab_name}}-vh50.iscsi1.{{lab_name}}.cp.vdc.
82              IN PTR          vdc-{{lab_name}}-vh51.iscsi1.{{lab_name}}.cp.vdc.
83              IN PTR          vdc-{{lab_name}}-vh52.iscsi1.{{lab_name}}.cp.vdc.
84              IN PTR          vdc-{{lab_name}}-vh53.iscsi1.{{lab_name}}.cp.vdc.
85              IN PTR          vdc-{{lab_name}}-vh54.iscsi1.{{lab_name}}.cp.vdc.
86              IN PTR          vdc-{{lab_name}}-vh55.iscsi1.{{lab_name}}.cp.vdc.
87              IN PTR          vdc-{{lab_name}}-vh56.iscsi1.{{lab_name}}.cp.vdc.
88              IN PTR          vdc-{{lab_name}}-vh57.iscsi1.{{lab_name}}.cp.vdc.
89              IN PTR          vdc-{{lab_name}}-vh58.iscsi1.{{lab_name}}.cp.vdc.
90              IN PTR          vdc-{{lab_name}}-vh59.iscsi1.{{lab_name}}.cp.vdc.
91              IN PTR          vdc-{{lab_name}}-vh5a.iscsi1.{{lab_name}}.cp.vdc.
92              IN PTR          vdc-{{lab_name}}-vh5b.iscsi1.{{lab_name}}.cp.vdc.
93              IN PTR          vdc-{{lab_name}}-vh5c.iscsi1.{{lab_name}}.cp.vdc.
94              IN PTR          vdc-{{lab_name}}-vh5d.iscsi1.{{lab_name}}.cp.vdc.
95              IN PTR          vdc-{{lab_name}}-vh5e.iscsi1.{{lab_name}}.cp.vdc.
96              IN PTR          vdc-{{lab_name}}-vh5f.iscsi1.{{lab_name}}.cp.vdc.

113             IN PTR          vdc-{{lab_name}}-sa01.iscsi1.{{lab_name}}.cp.vdc.
114             IN PTR          vdc-{{lab_name}}-sa02.iscsi1.{{lab_name}}.cp.vdc.
115             IN PTR          vdc-{{lab_name}}-sa03.iscsi1.{{lab_name}}.cp.vdc.
116             IN PTR          vdc-{{lab_name}}-sa04.iscsi1.{{lab_name}}.cp.vdc.
117             IN PTR          vdc-{{lab_name}}-sa05.iscsi1.{{lab_name}}.cp.vdc.
118             IN PTR          vdc-{{lab_name}}-sa06.iscsi1.{{lab_name}}.cp.vdc.
119             IN PTR          vdc-{{lab_name}}-sa07.iscsi1.{{lab_name}}.cp.vdc.
120             IN PTR          vdc-{{lab_name}}-sa08.iscsi1.{{lab_name}}.cp.vdc.
121             IN PTR          vdc-{{lab_name}}-sa09.iscsi1.{{lab_name}}.cp.vdc.
122             IN PTR          vdc-{{lab_name}}-sa10.iscsi1.{{lab_name}}.cp.vdc.

;; iSCSI2       iscsi2.{{lab_name}}.cp.vdc 10.220.139.0/25
$ORIGIN 139.220.10.in-addr.arpa.
129             IN PTR          vdc-{{lab_name}}-vh00.iscsi2.{{lab_name}}.cp.vdc.
130             IN PTR          vdc-{{lab_name}}-vh01.iscsi2.{{lab_name}}.cp.vdc.
131             IN PTR          vdc-{{lab_name}}-vh02.iscsi2.{{lab_name}}.cp.vdc.
132             IN PTR          vdc-{{lab_name}}-vh03.iscsi2.{{lab_name}}.cp.vdc.
133             IN PTR          vdc-{{lab_name}}-vh04.iscsi2.{{lab_name}}.cp.vdc.
134             IN PTR          vdc-{{lab_name}}-vh05.iscsi2.{{lab_name}}.cp.vdc.
135             IN PTR          vdc-{{lab_name}}-vh06.iscsi2.{{lab_name}}.cp.vdc.
136             IN PTR          vdc-{{lab_name}}-vh07.iscsi2.{{lab_name}}.cp.vdc.
137             IN PTR          vdc-{{lab_name}}-vh08.iscsi2.{{lab_name}}.cp.vdc.
138             IN PTR          vdc-{{lab_name}}-vh09.iscsi2.{{lab_name}}.cp.vdc.
139             IN PTR          vdc-{{lab_name}}-vh0a.iscsi2.{{lab_name}}.cp.vdc.
140             IN PTR          vdc-{{lab_name}}-vh0b.iscsi2.{{lab_name}}.cp.vdc.
141             IN PTR          vdc-{{lab_name}}-vh0c.iscsi2.{{lab_name}}.cp.vdc.
142             IN PTR          vdc-{{lab_name}}-vh0d.iscsi2.{{lab_name}}.cp.vdc.
143             IN PTR          vdc-{{lab_name}}-vh0e.iscsi2.{{lab_name}}.cp.vdc.
144             IN PTR          vdc-{{lab_name}}-vh0f.iscsi2.{{lab_name}}.cp.vdc.
145             IN PTR          vdc-{{lab_name}}-vh10.iscsi2.{{lab_name}}.cp.vdc.
146             IN PTR          vdc-{{lab_name}}-vh11.iscsi2.{{lab_name}}.cp.vdc.
147             IN PTR          vdc-{{lab_name}}-vh12.iscsi2.{{lab_name}}.cp.vdc.
148             IN PTR          vdc-{{lab_name}}-vh13.iscsi2.{{lab_name}}.cp.vdc.
149             IN PTR          vdc-{{lab_name}}-vh14.iscsi2.{{lab_name}}.cp.vdc.
150             IN PTR          vdc-{{lab_name}}-vh15.iscsi2.{{lab_name}}.cp.vdc.
151             IN PTR          vdc-{{lab_name}}-vh16.iscsi2.{{lab_name}}.cp.vdc.
152             IN PTR          vdc-{{lab_name}}-vh17.iscsi2.{{lab_name}}.cp.vdc.
153             IN PTR          vdc-{{lab_name}}-vh18.iscsi2.{{lab_name}}.cp.vdc.
154             IN PTR          vdc-{{lab_name}}-vh19.iscsi2.{{lab_name}}.cp.vdc.
155             IN PTR          vdc-{{lab_name}}-vh1a.iscsi2.{{lab_name}}.cp.vdc.
156             IN PTR          vdc-{{lab_name}}-vh1b.iscsi2.{{lab_name}}.cp.vdc.
157             IN PTR          vdc-{{lab_name}}-vh1c.iscsi2.{{lab_name}}.cp.vdc.
158             IN PTR          vdc-{{lab_name}}-vh1d.iscsi2.{{lab_name}}.cp.vdc.
159             IN PTR          vdc-{{lab_name}}-vh1e.iscsi2.{{lab_name}}.cp.vdc.
160             IN PTR          vdc-{{lab_name}}-vh1f.iscsi2.{{lab_name}}.cp.vdc.
161             IN PTR          vdc-{{lab_name}}-vh20.iscsi2.{{lab_name}}.cp.vdc.
162             IN PTR          vdc-{{lab_name}}-vh21.iscsi2.{{lab_name}}.cp.vdc.
163             IN PTR          vdc-{{lab_name}}-vh22.iscsi2.{{lab_name}}.cp.vdc.
164             IN PTR          vdc-{{lab_name}}-vh23.iscsi2.{{lab_name}}.cp.vdc.
165             IN PTR          vdc-{{lab_name}}-vh24.iscsi2.{{lab_name}}.cp.vdc.
166             IN PTR          vdc-{{lab_name}}-vh25.iscsi2.{{lab_name}}.cp.vdc.
167             IN PTR          vdc-{{lab_name}}-vh26.iscsi2.{{lab_name}}.cp.vdc.
168             IN PTR          vdc-{{lab_name}}-vh27.iscsi2.{{lab_name}}.cp.vdc.
169             IN PTR          vdc-{{lab_name}}-vh28.iscsi2.{{lab_name}}.cp.vdc.
170             IN PTR          vdc-{{lab_name}}-vh29.iscsi2.{{lab_name}}.cp.vdc.
171             IN PTR          vdc-{{lab_name}}-vh2a.iscsi2.{{lab_name}}.cp.vdc.
172             IN PTR          vdc-{{lab_name}}-vh2b.iscsi2.{{lab_name}}.cp.vdc.
173             IN PTR          vdc-{{lab_name}}-vh2c.iscsi2.{{lab_name}}.cp.vdc.
174             IN PTR          vdc-{{lab_name}}-vh2d.iscsi2.{{lab_name}}.cp.vdc.
175             IN PTR          vdc-{{lab_name}}-vh2e.iscsi2.{{lab_name}}.cp.vdc.
176             IN PTR          vdc-{{lab_name}}-vh2f.iscsi2.{{lab_name}}.cp.vdc.
177             IN PTR          vdc-{{lab_name}}-vh30.iscsi2.{{lab_name}}.cp.vdc.
178             IN PTR          vdc-{{lab_name}}-vh31.iscsi2.{{lab_name}}.cp.vdc.
179             IN PTR          vdc-{{lab_name}}-vh32.iscsi2.{{lab_name}}.cp.vdc.
180             IN PTR          vdc-{{lab_name}}-vh33.iscsi2.{{lab_name}}.cp.vdc.
181             IN PTR          vdc-{{lab_name}}-vh34.iscsi2.{{lab_name}}.cp.vdc.
182             IN PTR          vdc-{{lab_name}}-vh35.iscsi2.{{lab_name}}.cp.vdc.
183             IN PTR          vdc-{{lab_name}}-vh36.iscsi2.{{lab_name}}.cp.vdc.
184             IN PTR          vdc-{{lab_name}}-vh37.iscsi2.{{lab_name}}.cp.vdc.
185             IN PTR          vdc-{{lab_name}}-vh38.iscsi2.{{lab_name}}.cp.vdc.
186             IN PTR          vdc-{{lab_name}}-vh39.iscsi2.{{lab_name}}.cp.vdc.
187             IN PTR          vdc-{{lab_name}}-vh3a.iscsi2.{{lab_name}}.cp.vdc.
188             IN PTR          vdc-{{lab_name}}-vh3b.iscsi2.{{lab_name}}.cp.vdc.
189             IN PTR          vdc-{{lab_name}}-vh3c.iscsi2.{{lab_name}}.cp.vdc.
190             IN PTR          vdc-{{lab_name}}-vh3d.iscsi2.{{lab_name}}.cp.vdc.
191             IN PTR          vdc-{{lab_name}}-vh3e.iscsi2.{{lab_name}}.cp.vdc.
192             IN PTR          vdc-{{lab_name}}-vh3f.iscsi2.{{lab_name}}.cp.vdc.
193             IN PTR          vdc-{{lab_name}}-vh40.iscsi2.{{lab_name}}.cp.vdc.
194             IN PTR          vdc-{{lab_name}}-vh41.iscsi2.{{lab_name}}.cp.vdc.
195             IN PTR          vdc-{{lab_name}}-vh42.iscsi2.{{lab_name}}.cp.vdc.
196             IN PTR          vdc-{{lab_name}}-vh43.iscsi2.{{lab_name}}.cp.vdc.
197             IN PTR          vdc-{{lab_name}}-vh44.iscsi2.{{lab_name}}.cp.vdc.
198             IN PTR          vdc-{{lab_name}}-vh45.iscsi2.{{lab_name}}.cp.vdc.
199             IN PTR          vdc-{{lab_name}}-vh46.iscsi2.{{lab_name}}.cp.vdc.
200             IN PTR          vdc-{{lab_name}}-vh47.iscsi2.{{lab_name}}.cp.vdc.
201             IN PTR          vdc-{{lab_name}}-vh48.iscsi2.{{lab_name}}.cp.vdc.
202             IN PTR          vdc-{{lab_name}}-vh49.iscsi2.{{lab_name}}.cp.vdc.
203             IN PTR          vdc-{{lab_name}}-vh4a.iscsi2.{{lab_name}}.cp.vdc.
204             IN PTR          vdc-{{lab_name}}-vh4b.iscsi2.{{lab_name}}.cp.vdc.
205             IN PTR          vdc-{{lab_name}}-vh4c.iscsi2.{{lab_name}}.cp.vdc.
206             IN PTR          vdc-{{lab_name}}-vh4d.iscsi2.{{lab_name}}.cp.vdc.
207             IN PTR          vdc-{{lab_name}}-vh4e.iscsi2.{{lab_name}}.cp.vdc.
208             IN PTR          vdc-{{lab_name}}-vh4f.iscsi2.{{lab_name}}.cp.vdc.
209             IN PTR          vdc-{{lab_name}}-vh50.iscsi2.{{lab_name}}.cp.vdc.
210             IN PTR          vdc-{{lab_name}}-vh51.iscsi2.{{lab_name}}.cp.vdc.
211             IN PTR          vdc-{{lab_name}}-vh52.iscsi2.{{lab_name}}.cp.vdc.
212             IN PTR          vdc-{{lab_name}}-vh53.iscsi2.{{lab_name}}.cp.vdc.
213             IN PTR          vdc-{{lab_name}}-vh54.iscsi2.{{lab_name}}.cp.vdc.
214             IN PTR          vdc-{{lab_name}}-vh55.iscsi2.{{lab_name}}.cp.vdc.
215             IN PTR          vdc-{{lab_name}}-vh56.iscsi2.{{lab_name}}.cp.vdc.
216             IN PTR          vdc-{{lab_name}}-vh57.iscsi2.{{lab_name}}.cp.vdc.
217             IN PTR          vdc-{{lab_name}}-vh58.iscsi2.{{lab_name}}.cp.vdc.
218             IN PTR          vdc-{{lab_name}}-vh59.iscsi2.{{lab_name}}.cp.vdc.
219             IN PTR          vdc-{{lab_name}}-vh5a.iscsi2.{{lab_name}}.cp.vdc.
220             IN PTR          vdc-{{lab_name}}-vh5b.iscsi2.{{lab_name}}.cp.vdc.
221             IN PTR          vdc-{{lab_name}}-vh5c.iscsi2.{{lab_name}}.cp.vdc.
222             IN PTR          vdc-{{lab_name}}-vh5d.iscsi2.{{lab_name}}.cp.vdc.
223             IN PTR          vdc-{{lab_name}}-vh5e.iscsi2.{{lab_name}}.cp.vdc.
224             IN PTR          vdc-{{lab_name}}-vh5f.iscsi2.{{lab_name}}.cp.vdc.

241             IN PTR          vdc-{{lab_name}}-sa01.iscsi2.{{lab_name}}.cp.vdc.
242             IN PTR          vdc-{{lab_name}}-sa02.iscsi2.{{lab_name}}.cp.vdc.
243             IN PTR          vdc-{{lab_name}}-sa03.iscsi2.{{lab_name}}.cp.vdc.
244             IN PTR          vdc-{{lab_name}}-sa04.iscsi2.{{lab_name}}.cp.vdc.
245             IN PTR          vdc-{{lab_name}}-sa05.iscsi2.{{lab_name}}.cp.vdc.
246             IN PTR          vdc-{{lab_name}}-sa06.iscsi2.{{lab_name}}.cp.vdc.
247             IN PTR          vdc-{{lab_name}}-sa07.iscsi2.{{lab_name}}.cp.vdc.
248             IN PTR          vdc-{{lab_name}}-sa08.iscsi2.{{lab_name}}.cp.vdc.
249             IN PTR          vdc-{{lab_name}}-sa09.iscsi2.{{lab_name}}.cp.vdc.
250             IN PTR          vdc-{{lab_name}}-sa10.iscsi2.{{lab_name}}.cp.vdc.

